@media screen and (max-width: 800px) {
   * {
       padding:0%;
       margin: 0%;
   }
   
    .header{
       position: fixed;
       width: 100%;
       background-color: white;
       border-bottom: 1px solid gray;
   }

    .header__list {
        display: none;
    }

    .header__ham{
        margin-right: 3%;
        margin-top: 3%;
    }

    .header__h1 {
        padding-top: 1.5%;
        display: inline-block;
        padding-left: 45%;
        margin-bottom: 0px;
    }

    .header__h1 img{
        width: 75px;
        height: 44px;

    }

    #hamburger {
        position: relative;
        width: 21px;
        height: 18px;
        float: right;
     }

     #hamburger span {
        position: absolute;
        top: 50%;
        left: 0;
        display: inline;
        width: 90%;
        height: 2px;
        background-color:black;
        transform: translateY(-50%);
     }

     #hamburger::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 2px;
        background-color: black;
     }
     #hamburger::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 90%;
        height: 2px;
        background-color: black;
     }

     .mainImg{
         padding-top: 61.28px;
     }

     .brand-frame{
        display:flex;
        flex-flow: column;
    }
         .brand-frame__list{
            width : 95% ;
            margin-left: auto;
            margin-right: auto;
        }

        .brand-frame__list__pic{
            padding-top: 5%;
    padding-bottom: 5%;
        }
        
     

 }

 @media screen and (max-width: 639px) {
    .gallery{
        display:flex;
        flex-flow: column;
    }
    
    .gallery img{
        width : 100% ;
    }

    .company__title__details{
        display:flex;
        flex-flow: column;
    }

    .company__title__details__map {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 70%;
    }

    .end-title p{
        font-size: 10px;
    }

    .company__title company__title-decoration{
        width: 75%;
    }

    .company{
        width: 85%;
    }
    

 }